:root { font-size: 1.25rem; }
@media (min-width: 600px) { :root { font-size: 1.5rem; } }
@media (min-width: 900px) { :root { font-size: 1.75rem; } }
@media (min-width: 1200px) { :root { font-size: 2rem; } }

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body { 
  min-width: 100vw;
  min-height: 100vh;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #fff;
}

.avatar {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  position: absolute;
  bottom: 1rem;
  left: 0.86rem;
  z-index: 2;
}

#messages {
  position: absolute;
  bottom: .94rem;
  left: 2.8rem;
}

@keyframes popacity {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.message {
  background: #e9e8e7;
  padding: .5rem .8rem;
  margin: .06rem 1rem;
  float: left;
  clear: both;
  border-radius: 1.15rem;
  position: relative;
  animation: popacity 500ms ease-in;
}

@keyframes birth {
  0% { left: -2.8rem; }
  100% { left: 0px; }
}

@keyframes sent_opacity {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.sent {
  animation: birth 150ms ease-out, sent_opacity 350ms ease-in;
}

.typing {
  background: transparent;
}

.show {
  display: block;
}

.hide {
  display: none;
}

@keyframes opacity {
  0% { opacity: 0.25; }
  100% { opacity: 0.75; }
}

@keyframes scale {
  0% { transform: scale(1.25); }
  100% { transform: scale(1); }
}

.bulls {
  font-size: 2rem;
  line-height: 1.28rem;
  display: block;
  float: left;
  margin-bottom: -0.125rem;
  margin-left: -0.45rem;
  position: relative;
}

.bulls span {
  float: left;
  animation: opacity 999ms infinite linear, scale 999ms infinite linear;
}

.bulls span:nth-child(1) {
  animation-delay: 0ms;
}

.bulls span:nth-child(2) {
  animation-delay: 333ms;
}

.bulls span:nth-child(3) {
  animation-delay: 666ms;
}